<p>Add a new band:</p>

<form action="/bands" method="post">
  <label for="name">Band Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Band</button>
</form>

<% if @bands.any?() %>
  <p>Select a band to update it's name or venues they have played:</p>

  <ul>
    <% @bands.each do |band| %>
      <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>No bands yet!</p>
<% end %>

<p><a href="/venues">See all venues</a></p>

<p><a href="/">Return to Main Page</a></p>
