<h1>Band Tracker</h1>

<p>Current bands:</p>

<% if @bands.any?() %>
  <p>Select a band to see which venues they're played:</p>

  <ul>
    <% @bands.each() do |band| %>
      <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>No bands yet!</p>
<% end %>

<p><a href="/bands">Add a new band:</a></p>

<p>Current venues:</p>

<% if @venues.any?() %>
  <p>Select a venue to see which bands have played:</p>

  <ul>
    <% @venues.each() do |venue| %>
      <li><a href="/venues/<%= venue.id() %>"><%= venue.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>No venues yet!</p>
<% end %>

<p><a href="/venues">Add a new venue:</a></p>
